body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url("../images/fruit-1234657_960_720.png");
    background-color:rgb(50, 48, 151);
    min-height: 100%;
    background-position: center;
    background-size: auto;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
